 :root {

     --clr-accent-100: hsl(9, 33%, 96%);
     --clr-neutral-900: hsl(0 0% 0%);

     --ff-primary: 'Poppins', sans-serif;

     --fw-regular: 400;
     --fw-bold: 700;

     --fs-300: 0.8125rem;
     --fs-400: 0.875rem;
     --fs-500: 0.9375rem;
     --fs-600: 1rem;
     --fs-700: 1.875rem;
     --fs-800: 2.5rem;
     --fs-900: 3.5rem;
     --fs-1100: 4.84375;

     --fs-body: var(--fs-300);
     --fs-primary-heading: var(--fs-800);
     --fs-secondary-heading: var(--fs-700);

     --size-100: 0.25rem;
     --size-200: 0.5rem;
     --size-300: 0.75rem;
     --size-400: 1rem;
     --size-500: 1.5rem;
     --size-600: 2rem;
     --size-700: 3rem;
     --size-800: 4rem;
     --size-900: 5rem;

     --showLeft: 10px;
     --showRight: 10px;
     --showUp: 0;

     --transition: 0.4s;
     --transitionShowUp: 0s;
     --transitionShowImg: 0s;
 }

 @media (min-width: 50em) {
     :root {
         --fs-body: var(--fs-600);
         --fs-primary-heading: var(--fs-900);
         --fs-secondary-heading: var(--fs-800);
         --showLeft: 50px;
         --showRight: -50px;
         --showUp: 50px;
         --transition: 1s;
         --transitionShowUp: 0.5s;
         --transitionShowImg: 0.3s;
     }
 }

 /* https://piccalil.li/blog/a-modern-css-reset */

 /* Box sizing rules */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 /* Remove default margin */
 * {
     margin: 0;
     padding: 0;
     font: inherit;
 }

 /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
 ul[role="list"],
 ol[role="list"] {
     list-style: none;
 }

 /* Set core root defaults */
 html:focus-within {
     scroll-behavior: smooth;
 }

 html,
 body {
     height: 100%;
 }

 /* Set core body defaults */

 /* A elements that don't have a class get default styles */
 a:not([class]) {
     text-decoration-skip-ink: auto;
 }

 a {
     text-decoration: none;
     color: var(--clr-accent-100);
 }

 /* Make images easier to work with */
 img,
 picture,
 svg {
     max-width: 100%;
     display: block;
 }

 /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
 @media (prefers-reduced-motion: reduce) {
     html:focus-within {
         scroll-behavior: auto;
     }

     *,
     *::before,
     *::after {
         animation-duration: 0.01ms !important;
         animation-iteration-count: 1 !important;
         transition-duration: 0.01ms !important;
         scroll-behavior: auto !important;
     }
 }


 /* general styling */

 body {
     background-color: var(--clr-neutral-900);
     color: var(--clr-accent-100);
     font-family: var(--ff-primary);
     font-size: var(--fs-body);
     overflow-x: hidden;
 }


 /* Utility classes */

 .fw-bold {
     font-weight: var(--fw-bold);
 }

 .fw-regular {
     font-weight: var(--fw-regular);
 }

 .fs-primary-heading {
     font-size: var(--fs-primary-heading);
     line-height: 1.1;
 }

 .fs-700 {
     font-size: var(--fs-700);
 }

 .padding-block-900 {
     padding-block: var(--size-900);
 }

 .padding-inline-600 {
     padding-inline: var(--size-600);
 }

 .padding-inline-end-600 {
     padding-inline-end: var(--size-600);
 }

 .margin-inline-end-600 {
     margin-inline-end: var(--size-600);
 }

 .margin-bottom-700 {
     margin-block-end: var(--size-700);
 }

 .margin-bottom-500 {
     margin-block-end: var(--size-500);
 }

 .margin-bottom-400 {
     margin-block-end: var(--size-400);
 }

 .margin-bottom-300 {
     margin-block-end: var(--size-300);
 }

 .grid_align_end {
     align-self: flex-end;
 }

 .grid_align_center {
     align-self: center;
 }

 .grid_align_start {
     align-self: self-start;
 }

 .grid_justify_center {
     justify-self: center;
 }

 .grid_justify_start {
     justify-self: start;
 }

 .grid_justify_end {
     justify-self: end;
 }
 .container {
     --max-width: 1110px;
     --container-padding: 2.3rem;

     width: min(var(--max-width), 100% - (var(--container-padding) * 2));
     margin-inline: auto;
 }

 .even-columns {
     display: grid;
     gap: 1.8rem;
 }
 .grid {
    display: grid;
    gap: 2.4rem;
}
 @media (min-width: 58em) {
     .even-columns {
         grid-auto-flow: column;
         grid-auto-columns: 1fr;
     }
     .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5.5rem;
    }
   
    .grid>*:nth-child(5) {
        grid-column-start: 3;
        grid-row-start: 2;
    }
 }

 .even-rows {
     display: grid;
     grid-auto-flow: row;
     gap: 2.9rem;
 }

 .d-flex {
     display: flex;
     width: 100%;
 }

 .line {
     height: 1px;
     width: 80%;
     background-color: var(--clr-accent-100);
 }



 /* show Element (animation) */
 .showLeft,
 .showRight,
 .showImg,
 .showUp {
     opacity: 0;
     filter: blur(5px);
     transition: all var(--transition);
 }

 .showImg {
     transition: all var(--transitionShowImg);

 }

 .showLeft {
     transform: translateX(var(--showLeft));
 }

 .showRight {
     transform: translateX(var(--showRight));
 }


 .showUp {
     transition: all var(--transitionShowUp);
     transform: translateY(var(--showUp));
 }

 .show {
     opacity: 1;
     filter: blur(0);
     transform: translateX(0);
 }